* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  background-color: #222;
  color: rgb(212, 211, 211);
}

.container-navbar {
  width: 100%;
  height: 8vh;
  background-color: black;
}

.ul-navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  height: 10px;
  padding: 20px;
  margin: 100px;
  font-size: 20px;
  font-weight: 800;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-navbar {
  text-decoration: none;
  color: rgb(212, 211, 211);
}

.li-navbar:hover {
  background-color: rgb(212, 211, 211);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.a-navbar:hover {
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
  color: #222;
}

.container-content {
  margin-top: 10px;
}

.h1-content {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.h3-content {
  margin-bottom: 25px;
  margin-top: 50px;
}

.p-content {
  margin-left: 100px;
}

.container-content {
  margin-top: 10px;
}

.body-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-footer {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.img-footer {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.playlist-container-content {
  text-align: center;
}

.iframe-content-playlist {
  margin-top: 10px;
  margin-bottom: 75px;
}

.container-card {
  display: flex;
  text-align: center;
  justify-content: center;
}

.card-content {
  border: 5px white solid;
  border-radius: 5px;
  height: 650px;
  width: 300px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: white;
}

.img-card-content {
  width: 100%;
}

.text-card-content {
  width: 300px;
  height: 252px;
  color: black;
}
